.link_image {
  border: 0;
  width: 30px;
  margin-right: 20px;

  border-radius: 100%;
  /*border: 2px solid black;
  padding: 4px;*/
}

.simon_name {
  font-size: 3.0rem;
  line-height: 1.50;
  letter-spacing: -.06rem;
}

.link_image_ref {
  color: #fff;
}

/*.link_image_mail {
  border: 0;
  width: 40px;
  margin-right: 50px;
  top: 6px;
  position: relative;
}*/

.simon_image {
  border: "0";
  max-width: 100%;

}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .link_image {
    margin-right: 40px;
  }
}
